<h3 class="text-center">
  About this application</h3>
<p class="text-center">
  This is a simple blog application created using Angular and using APIs hosted by edwisor.com
</p>
<p style="margin:0 25%;">
  It covers the following concepts -
  <br/>
  <br/> 1) Basic setup of angular application
  <br/> 2) Basics of components and routing
  <br/> 3) Concepts of creating templates and interpolation
  <br/> 4) Concept of Services
  <br/> 5) Interaction with REST APIs
  <br/> 6) Concept of forms and two-way data binding in Angular

</p>