.panel {
    background-color: whitesmoke;
    padding: 2% 0;
    border: 1px solid lightgray;
}

.panel-heading {
    padding: 1.5%;
}

.panel-body {
    border-width: 1px 0 1px 0;
    border-color: lightgray;
    border-style: solid;
    background-color: white;
    padding: 2.5%;
}

.panel-footer {
    padding: 2.5%;
}